@model List<CarDealership.Models.Tables.Make>
@{
    ViewBag.Title = "MakesList";
}

<h2>Makes</h2>
<div class="row" style="border:solid;padding:15px;">
    <div class="form-group col-12">
        <label>New Make</label>
        <input />
        <button>Save</button>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Date Added</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var make in Model)
                {
                    <tr>
                        <td>@make.MakeName</td>
                        <td>@make.DateAdded</td>
                        <td>@make.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

